/* Reset default browser styles */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure body and root take up full viewport height */
body,
#root {
  min-height: 100vh;
}

/* Set the default background color for the body.
  This will be the color "outside" your app.
*/
body {
  background-color: #f3f4f6;
}
